*{margin: 0;
padding: 0;
font-family: Arial, sans-serif;
line-height: 1.5;}

header {
background: orange;
height: 140px;
font-size: 34px;
width: 100%;
}

h1 {font-size: 28px;
line-height: 60px;
font-weight: normal;}

.column3 {
margin: 5px;
display: inline-block;
text-align: left;
width: 30%;
vertical-align: top;
padding: 5px;}

 @media screen and (max-width: 680px) {
  	.column3 {width: 95%;}